; Registar App Settings
[App]
api_client_name = Your application name
api_client_website = https://example.com/
default_lang = en_US
;default_lang = ja_JP
;default_lang = ko_KR
news_link = https://social.csswg.org/@halcyon
source_link = https://github.com/osapon/halcyon
contact_link = https://mstdn.nere9.help/@osapon
