John Doe
Some street 1
12345 Unknown city
Email: contact@example.com

INFORMATION: Rename this file to imprint.txt if your coutries laws require an imprint,leave it if not - Links to imprint will be automatically created and removed
